/* ====== GENERAL STYLES ======== */
body {
  margin: 0px;
  padding: 0px;
  background-color: #fafeff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ====== LAYOUT STYLES ======== */
.container {
  width: 100%;
  height: 100%;
}
.title,
.content__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.title__item,
.content__item {
  min-width: 100px;
  height: 100%;
  padding: 10px;
  flex-basis: 100%;
  text-align: center;
}

/* ====== COMPONENTS STYLES ======== */

.title__item {
  color: #efefef;
}
.title__item:hover {
  background-color: #587dc0;
  cursor: pointer;
}
.title--background {
  background-color: #395994;
}
.content__row:nth-child(even) {
  background: #dfefff;
}
.content__row:hover {
  background: #dddefe;
}

.preloaderHidden {
  display: none;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}

.preloader img {
  width: 200px;
}
